
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #358588;
}
.box{
    width: 500px;
   /* border: 1px solid black;*/
    text-align: center;
    padding: 40px 0px;
    box-shadow: 0px 0px 6px 3px white;
    border-radius: 10px;
}
.display{
    font-size: 40px;
    font-weight: 500;
    /*padding: 20px 0px;*/
    box-shadow: 0px 0px 6px 3px white;
    margin: 0px 30px;
    color: white;
}
button{
    padding: 10px 30px;
    margin: 10px 20px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    box-shadow: 0px 0px 6px 3px white;
}