body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin:0;
}

.container  
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35858B;
}
.box
{
    width: 500px;
    /* border:1px solid black; */
    text-align: center;
    padding:40px 0px;
    box-shadow: 0px 0px 6px 3px rgba(230, 230, 230, 0.315);
    border-radius: 10px;
}
.display
{
    font-size: 40px;
    font-weight: 500;
    /* padding:px 0px; */
    box-shadow: 0px 0px 6px 3px rgba(230, 230, 230, 0.315);
    margin:0px 30px;
    color:white;
}
button
{
    padding:10px 30px;
    margin:40px 20px 20px 20px;
    font-size: 18px;
    background-color: transparent;
    color:white;
    border:none;
    box-shadow: 0px 0px 6px 3px rgba(230, 230, 230, 0.315);
}