*
{
    padding:0px;
    margin:0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html
{
    scroll-behavior: smooth;
}



#section4
{
    background-image: url("../img/blogbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
#section4 p{
    font-size: 14px;
  

}

#sectin55 span{
    color: white;
    font-size: 15px;
    font-weight: 400;
    padding:5px 10px;
    margin-bottom: 10px;
    position: relative;
   top: 50px;
   left: 50px;

}
.searchbox{
  
   position: relative;

}
.searchbox i{
    position: absolute;
   right: 15px;
   top: 10px;

}
.searchbox input{
    width: 100%;
    height: 40px;
   border: 1px solid  #D6DEE7;
   padding: 0px 20px;
   
}
.mainn .row{
    position: relative;
    bottom: 10px;

}


.mainn .row p{
    font-size: 14px;
  

 
}
.mainn1 .row{
    position: relative;
    bottom: 10px;

}
.mainn1 .row p{
    font-size: 14px;
  

 
}

.col-md-6 .row{
    padding: 20px 10px;
}
.bloggimggg .box{
    height: 415px;

}
.bloggimggg .content{
    background-color: rgba(0, 0, 0, 0.486);
position: relative;
    height: 415px;
  
}
.texxx{
    color: white;
    position: absolute;
    bottom: 10px;
    padding: 0px 10px;
}

.blogggg span{
    display: inline-block;
    position: absolute;
    left: 0px;
  
}

.blogggg{
  
    background-color: #EFF2F5;
}
.blogggg h3{
padding-bottom: 10px;
}
.blogggg p{
    padding-bottom: 30px;
    }

   
    @media only screen and (max-width:420px)
    {  nav
        {
            padding:0px 20px;
            font-size: 20px;
            
        }
        
        
        nav ul
        {
            position: absolute;
            top:80px;
            width:40%;
            background-color: #ffb520f5;
            height:100vh;
            left:-100%;
            transition: all 1s;
          
          
    
    
        }
        nav ul li
        {
            display: block;
            margin:20px 0px;
          
           
        }
        nav ul li a{
            
            color: #203749;
            font-size: 18px;
            font-weight: 600;
         
           
          
        }
       
        nav .button
        {
            display: none;
        }
        nav span
        {
            font-size: 25px;
        }
        .checkbtn
        {
            display: block;
        }
        #check:checked ~ul
        {
            left:0px;
        }
    
        #section2 h2
        {
            padding-top:80px;
            font-size: 40px;
        }
        #section2 p br
        {
            display: none;
        }
        #section3 h2
        {
            text-align: center;
            padding: 10px 0px;
            margin-right: 0px;
        }
         .box
        {
            margin:5px;
        }
        #section6 .content
        {
            padding:10px;
        }
        #section3
        {
            display: none;
        }
        #section7 .section7box
        {
            margin: 30px 0px;
        }
        #section8 .section8Box
        {
            margin:20px 0px;
        }
       
    }
    
    
    
    @media only screen and (min-width:421px) and (max-width:969px){
         
            nav
            {
                padding:0px 20px;
                font-size: 20px;
                
            }
            
            
            nav ul
            {
                position: absolute;
                top:80px;
                width:40%;
                background-color: #ffb520f5;
                height:100vh;
                left:-100%;
                transition: all 1s;
              
              
        
        
            }
            nav ul li
            {
                display: block;
                margin:20px 0px;
               
            }
            nav ul li a{
                color: #203749;
                font-size: 18px;
                font-weight: 600;
            }
           
            nav .button
            {
                display: none;
            }
            nav span
            {
                font-size: 25px;
            }
            .checkbtn
            {
                display: block;
            }
            #check:checked ~ul
            {
                left:0px;
            }
        
    
        #section2 h2
        {
            padding-top:80px;
            font-size: 50px;
        }
        #section3
        {
            display: none;
        }
        #section5 .box
        {
            margin:10px 0px;
        }
        #section6 img
        {
            height: 250px;
        }
        #section6 .content
        {
            padding:10px;
        }
        #section8img
        {
            display: none;
        }




        
  
            
       
    }
        @media only screen and (min-width:421px) and (max-width:1200px)
        {
            
            .imgradius{
            width: 63px;
            height: 83px;
            border-radius: 50%;}
           
       
            }
   