*
{
    padding:0px;
    margin:0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html
{
    scroll-behavior: smooth;
}



#section4
{
    background-image: url("../img/gamebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
#section4 h2
{
    font-size: 60px;
    color:white;
    padding-top:200px;
}
#section4 p
{
    font-size: 20px;
    letter-spacing: 1px;;
}
#section7
{
    background-image: none;
}
.section7box{
position: relative;
}

.circle1{position: absolute;
    top:-30px;
    left:30px;
    padding:20px;
   
    border-radius: 50%;
  
    display: inline-block;
  
    color:white;
    font-size: 18px;
    font-weight: 600;
   

}


#gamesection7{
    padding:100px 0px;
    background-image: url("../img/review-bg-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#gamesection7top{
    position: relative;
   bottom: 30px;

}


#section4
{
    background-image: url("../img/gamebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
#section4 h2
{
    font-size: 60px;
    color:white;
    padding-top:200px;
}
#section4 p
{
    font-size: 20px;
    letter-spacing: 1px;;
}
#section7
{
    background-image: none;
}
.section7box{
position: relative;
}

.circle1{position: absolute;
    top:-30px;
    left:30px;
    padding:20px;
   
    border-radius: 50%;
  
    display: inline-block;
  
    color:white;
    font-size: 18px;
    font-weight: 600;
   

}




@media only screen and (max-width:420px)
{  nav
    {
        padding:0px 20px;
        font-size: 20px;
        
    }
    
    
    nav ul
    {
        position: absolute;
        top:80px;
        width:40%;
        background-color: #ffb520f5;
        height:100vh;
        left:-100%;
        transition: all 1s;
      
      


    }
    nav ul li
    {
        display: block;
        margin:20px 0px;
      
       
    }
    nav ul li a{
        
        color: #203749;
        font-size: 18px;
        font-weight: 600;
     
       
      
    }
   
    nav .button
    {
        display: none;
    }
    nav span
    {
        font-size: 25px;
    }
    .checkbtn
    {
        display: block;
    }
    #check:checked ~ul
    {
        left:0px;
    }

    #section2 h2
    {
        padding-top:80px;
        font-size: 40px;
    }
    #section2 p br
    {
        display: none;
    }
    #section3 h2
    {
        text-align: center;
        padding: 10px 0px;
        margin-right: 0px;
    }
     .box
    {
        margin:5px;
    }
    #section6 .content
    {
        padding:10px;
    }
    #section3
    {
        display: none;
    }
    #section7 .section7box
    {
        margin: 30px 0px;
    }
    #section8 .section8Box
    {
        margin:20px 0px;
    }
   
}



@media only screen and (min-width:421px) and (max-width:969px){
     
        nav
        {
            padding:0px 20px;
            font-size: 20px;
            
        }
        
        
        nav ul
        {
            position: absolute;
            top:80px;
            width:40%;
            background-color: #ffb520f5;
            height:100vh;
            left:-100%;
            transition: all 1s;
          
          
    
    
        }
        nav ul li
        {
            display: block;
            margin:20px 0px;
           
        }
        nav ul li a{
            color: #203749;
            font-size: 18px;
            font-weight: 600;
        }
       
        nav .button
        {
            display: none;
        }
        nav span
        {
            font-size: 25px;
        }
        .checkbtn
        {
            display: block;
        }
        #check:checked ~ul
        {
            left:0px;
        }
    

    #section2 h2
    {
        padding-top:80px;
        font-size: 50px;
    }
    #section3
    {
        display: none;
    }
    #section5 .box
    {
        margin:10px 0px;
    }
    #section6 img
    {
        height: 250px;
    }
    #section6 .content
    {
        padding:10px;
    }
    #section8img
    {
        display: none;
    }
    
       
        
   
}
    @media only screen and (min-width:421px) and (max-width:1200px)
    {
        
        .imgradius{
        width: 63px;
        height: 83px;
        border-radius: 50%;}
       
   
        }